# === Python ===
venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# === Model weights / binaries ===
*.dll
*.lib
*.zip
*.tar.gz
*.h5
*.pt
*.pkl
*.ckpt

# === Data ===
# Ignore all .csv by default
*.csv

# But KEEP this specific one:
!data/raw/GDSC/public_raw_data/public_raw_data_gdsc2.csv

# And also UNIGNORE the folders leading to it
!data/
!data/raw/
!data/raw/GDSC/
!data/raw/GDSC/public_raw_data/
